<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ten Bit Byte - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">
                    <img src="/images/tbb.png" alt="tenbitbyte">
                </a>
            </div>
            <div id="navigation">
                <a href="/">Home</a>
                <a href="/about.html">About</a>
            </div>
        </div>

        <div id="content">
            <h1>$title$</h1>
            $body$
        </div>

    </body>
</html>
